<html>
    <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#register_button").click(function(){
            $.post("api/user/register",
            {
                username: $("#username_field").val(),
                first_name: $("#first_name_field").val(),
                password: $("#password_field").val(),
            },
            function(data, status){
              alert("Data: " + data + "\nStatus: " + status);
            });

            //window.location.replace("/dashboard.php");
        });
    });
            function login() {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.open("GET", "api/auth/signin", true);
                xmlhttp.send();
                //window.location.replace("/dashboard.php");
             }
        </script>
    </head>
<body>
Username <input id="username_field" type="text"></input>
First name <input id="first_name_field" type="text"></input>
Password <input id="password_field" type="text"></input>
<input id="register_button" type="button" value="Register"></type>
<input id="login_button" type="button" value="Log in" onclick="login()"></type>
</body>
</html>

